# Django project files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django media files
media/

# Django static files
staticfiles/

# Django database files
db.sqlite3

# Development environment
.env

# IDE files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
